@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  body {
    font-weight: 500;
    line-height: normal;
    color: #171820;
  }
}

@layer components {
  .mainPageTitle {
    @apply mx-auto text-center text-[44px] font-700 leading-[1.09] text-white md:text-[100px] md:leading-[1.3] xl:text-[120px] xl:leading-[1.5];
  }

  .authFormLabel {
    @apply mb-[8px] text-[12px] font-600 text-blackCustom md:text-[14px];
  }

  .inputStyles {
    @apply h-[46px] rounded-[8px] border-[1px] border-inputBorder py-[18px] pl-[18px] pr-[60px] text-[14px] font-400 leading-[1.28] text-blackCustom md:h-[54px];
  }

  .inputAccount {
    @apply h-[42px] w-full rounded-[8px] border-[1px] border-inputBorder px-[14px] py-[12px] text-[14px] font-600 leading-[1.28] text-blackCustom dark:border-grayTheme dark:bg-blackAccentBg dark:text-white md:h-[46px] md:text-[16px] md:leading-[1.18];
  }

  .inputError {
    @apply absolute bottom-[-16px] left-[19px] text-[10px] font-400 leading-[1.16] text-error md:bottom-[-18px] md:text-[12px];
  }

  .formIcon {
    @apply absolute bottom-[11px] right-[18px] h-[24px] w-[24px] md:bottom-[14px];
  }
}

@layer utilities {
  .scale {
    @apply transition-transform duration-300 hover:scale-105 focus:scale-105;
  }

  .btnEffect {
    @apply transition-colors hover:bg-blueAccent focus:bg-blueAccent;
  }
}
